# Test Optitrack Motive CSV file format

## Get CSV header and data

In [182]:
import pandas as pd

FILE_NAME = 'example_motive.csv'
df = pd.read_csv('../data/motive/' + FILE_NAME)

In [183]:
df.head()

,Format Version,1.23,Take Name,Take_SampleRigidBodySmall (1),Take Notes,Unnamed: 5,Capture Frame Rate,120,Export Frame Rate,120.1,...,Total Frames in Take,3869,Total Exported Frames,3869.1,Rotation Type,Quaternion,Length Units,Millimeters,Coordinate Space,Global
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Type,Rigid Body,Rigid Body,Rigid Body,Rigid Body,Rigid Body,Rigid Body,Rigid Body,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Name,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ID,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Rotation,Rotation,Rotation,Rotation,Position,Position,Position,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
df.head().shape

(5, 24)

In [185]:
df_head = df.head()
df_head

,Format Version,1.23,Take Name,Take_SampleRigidBodySmall (1),Take Notes,Unnamed: 5,Capture Frame Rate,120,Export Frame Rate,120.1,...,Total Frames in Take,3869,Total Exported Frames,3869.1,Rotation Type,Quaternion,Length Units,Millimeters,Coordinate Space,Global
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Type,Rigid Body,Rigid Body,Rigid Body,Rigid Body,Rigid Body,Rigid Body,Rigid Body,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Name,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,SampleRigidBodySmall,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,ID,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,91B7D9B5F35F11ECED882DE32A4830AE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,Rotation,Rotation,Rotation,Rotation,Position,Position,Position,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
df_no_head = pd.read_csv('../data/motive/' + FILE_NAME, skiprows=df_head.shape[0]+1)
df_no_head

,Frame,Time (Seconds),X,Y,Z,W,X.1,Y.1,Z.1,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,0,0.000,-0.008226,-0.756919,-0.007126,0.653418,328.321442,772.273315,1341.981201,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0.008,-0.008148,-0.757648,-0.006870,0.652577,328.429077,772.264099,1342.083008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,0.016,-0.008196,-0.757979,-0.006452,0.652196,328.409454,772.293030,1342.121094,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,0.025,-0.008245,-0.757995,-0.006417,0.652177,328.400146,772.299744,1342.135498,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0.033,-0.008034,-0.757934,-0.006245,0.652252,328.470001,772.287598,1342.122070,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3864,3864,32.200,-0.000397,0.142106,0.003007,0.989847,278.075897,772.766052,1328.564209,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3865,3865,32.208,-0.000415,0.142187,0.002983,0.989835,278.054932,772.765137,1328.546997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3866,3866,32.216,-0.000398,0.142150,0.003020,0.989840,278.060181,772.766663,1328.545044,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3867,3867,32.225,-0.000457,0.142171,0.003046,0.989837,278.062592,772.766113,1328.544800,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3868,3868,32.233,-0.000431,0.142108,0.003111,0.989846,278.079742,772.773193,1328.560059,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Header

The only useful value in header is the start time.

In [187]:
# Start time is understood as a column in pandas
df_head.columns

Index(['Format Version', '1.23', 'Take Name', 'Take_SampleRigidBodySmall (1)',
       'Take Notes', 'Unnamed: 5', 'Capture Frame Rate', '120',
       'Export Frame Rate', '120.1', 'Capture Start Time',
       '2022-06-24 10.51.41.898 AM', 'Capture Start Frame', '349624',
       'Total Frames in Take', '3869', 'Total Exported Frames', '3869.1',
       'Rotation Type', 'Quaternion', 'Length Units', 'Millimeters',
       'Coordinate Space', 'Global'],
      dtype='object')

In [188]:
index_capture_start_time = df_head.columns.get_loc('Capture Start Time')
time = df_head.columns.to_list()[index_capture_start_time + 1]
time

'2022-06-24 10.51.41.898 AM'

In [189]:
import datetime
time_datetime = datetime.datetime.strptime(time, '%Y-%m-%d %H.%M.%S.%f %p')
time_datetime

datetime.datetime(2022, 6, 24, 10, 51, 41, 898000)

In [190]:
epoch = time_datetime.timestamp()
epoch

1656035501.898

## Data

The following modifications can be made to the data:
- Remove NaN columns
- Remove duplicate columns
- Replace time with epoch
- Rename columns to have one rotation and one translation column per rigid body

In [191]:
# Remove NaN columns
df_no_head = df_no_head.dropna(axis=1, how='all')
df_no_head

,Frame,Time (Seconds),X,Y,Z,W,X.1,Y.1,Z.1
0,0,0.000,-0.008226,-0.756919,-0.007126,0.653418,328.321442,772.273315,1341.981201
1,1,0.008,-0.008148,-0.757648,-0.006870,0.652577,328.429077,772.264099,1342.083008
2,2,0.016,-0.008196,-0.757979,-0.006452,0.652196,328.409454,772.293030,1342.121094
3,3,0.025,-0.008245,-0.757995,-0.006417,0.652177,328.400146,772.299744,1342.135498
4,4,0.033,-0.008034,-0.757934,-0.006245,0.652252,328.470001,772.287598,1342.122070
...,...,...,...,...,...,...,...,...,...
3864,3864,32.200,-0.000397,0.142106,0.003007,0.989847,278.075897,772.766052,1328.564209
3865,3865,32.208,-0.000415,0.142187,0.002983,0.989835,278.054932,772.765137,1328.546997
3866,3866,32.216,-0.000398,0.142150,0.003020,0.989840,278.060181,772.766663,1328.545044
3867,3867,32.225,-0.000457,0.142171,0.003046,0.989837,278.062592,772.766113,1328.544800
3868,3868,32.233,-0.000431,0.142108,0.003111,0.989846,278.079742,772.773193,1328.560059

In [192]:
# Remove first column as it is a duplicate of the index
df_no_head = df_no_head.iloc[:, 1:]
df_no_head

,Time (Seconds),X,Y,Z,W,X.1,Y.1,Z.1
0,0.000,-0.008226,-0.756919,-0.007126,0.653418,328.321442,772.273315,1341.981201
1,0.008,-0.008148,-0.757648,-0.006870,0.652577,328.429077,772.264099,1342.083008
2,0.016,-0.008196,-0.757979,-0.006452,0.652196,328.409454,772.293030,1342.121094
3,0.025,-0.008245,-0.757995,-0.006417,0.652177,328.400146,772.299744,1342.135498
4,0.033,-0.008034,-0.757934,-0.006245,0.652252,328.470001,772.287598,1342.122070
...,...,...,...,...,...,...,...,...
3864,32.200,-0.000397,0.142106,0.003007,0.989847,278.075897,772.766052,1328.564209
3865,32.208,-0.000415,0.142187,0.002983,0.989835,278.054932,772.765137,1328.546997
3866,32.216,-0.000398,0.142150,0.003020,0.989840,278.060181,772.766663,1328.545044
3867,32.225,-0.000457,0.142171,0.003046,0.989837,278.062592,772.766113,1328.544800
3868,32.233,-0.000431,0.142108,0.003111,0.989846,278.079742,772.773193,1328.560059

In [193]:
# Replace time column with epoch
df_no_head['Time (Seconds)'] += [epoch for i in range(df_no_head.shape[0])]
df_no_head

,Time (Seconds),X,Y,Z,W,X.1,Y.1,Z.1
0,1.656036e+09,-0.008226,-0.756919,-0.007126,0.653418,328.321442,772.273315,1341.981201
1,1.656036e+09,-0.008148,-0.757648,-0.006870,0.652577,328.429077,772.264099,1342.083008
2,1.656036e+09,-0.008196,-0.757979,-0.006452,0.652196,328.409454,772.293030,1342.121094
3,1.656036e+09,-0.008245,-0.757995,-0.006417,0.652177,328.400146,772.299744,1342.135498
4,1.656036e+09,-0.008034,-0.757934,-0.006245,0.652252,328.470001,772.287598,1342.122070
...,...,...,...,...,...,...,...,...
3864,1.656036e+09,-0.000397,0.142106,0.003007,0.989847,278.075897,772.766052,1328.564209
3865,1.656036e+09,-0.000415,0.142187,0.002983,0.989835,278.054932,772.765137,1328.546997
3866,1.656036e+09,-0.000398,0.142150,0.003020,0.989840,278.060181,772.766663,1328.545044
3867,1.656036e+09,-0.000457,0.142171,0.003046,0.989837,278.062592,772.766113,1328.544800
3868,1.656036e+09,-0.000431,0.142108,0.003111,0.989846,278.079742,772.773193,1328.560059

In [194]:
# Check epoch values are correct
[df_no_head['Time (Seconds)'][i] for i in range(df_no_head.shape[0])]

[1656035501.898,
 1656035501.906,
 1656035501.914,
 1656035501.923,
 1656035501.931,
 1656035501.939,
 1656035501.948,
 1656035501.956,
 1656035501.964,
 1656035501.973,
 1656035501.981,
 1656035501.989,
 1656035501.998,
 1656035502.006,
 1656035502.014,
 1656035502.023,
 1656035502.031,
 1656035502.039,
 1656035502.048,
 1656035502.056,
 1656035502.064,
 1656035502.073,
 1656035502.081,
 1656035502.089,
 1656035502.098,
 1656035502.106,
 1656035502.114,
 1656035502.123,
 1656035502.131,
 1656035502.139,
 1656035502.148,
 1656035502.156,
 1656035502.164,
 1656035502.173,
 1656035502.181,
 1656035502.189,
 1656035502.198,
 1656035502.206,
 1656035502.214,
 1656035502.223,
 1656035502.231,
 1656035502.239,
 1656035502.248,
 1656035502.256,
 1656035502.264,
 1656035502.273,
 1656035502.281,
 1656035502.289,
 1656035502.298,
 1656035502.306,
 1656035502.314,
 1656035502.323,
 1656035502.331,
 1656035502.339,
 1656035502.348,
 1656035502.356,
 1656035502.364,
 1656035502.373,
 1656035502.381,
 1656035502.389,
 1656035502.398,
 1656035502.406,
 1656035502.414,
 1656035502.423,
 1656035502.431,
 1656035502.439,
 1656035502.448,
 1656035502.456,
 1656035502.464,
 1656035502.473,
 1656035502.481,
 1656035502.489,
 1656035502.498,
 1656035502.506,
 1656035502.514,
 1656035502.523,
 1656035502.531,
 1656035502.539,
 1656035502.548,
 1656035502.556,
 1656035502.564,
 1656035502.573,
 1656035502.581,
 1656035502.589,
 1656035502.598,
 1656035502.606,
 1656035502.614,
 1656035502.623,
 1656035502.631,
 1656035502.639,
 1656035502.648,
 1656035502.656,
 1656035502.664,
 1656035502.673,
 1656035502.681,
 1656035502.689,
 1656035502.698,
 1656035502.706,
 1656035502.714,
 1656035502.723,
 1656035502.731,
 1656035502.739,
 1656035502.748,
 1656035502.756,
 1656035502.764,
 1656035502.773,
 1656035502.781,
 1656035502.789,
 1656035502.798,
 1656035502.806,
 1656035502.814,
 1656035502.823,
 1656035502.831,
 1656035502.839,
 1656035502.848,
 1656035502.856,
 1656035502.864,
 1656035502.873,
 1656035502.881,
 1656035502.889,
 1656035502.898,
 1656035502.906,
 1656035502.914,
 1656035502.922,
 1656035502.931,
 1656035502.939,
 1656035502.948,
 1656035502.956,
 1656035502.964,
 1656035502.972,
 1656035502.981,
 1656035502.989,
 1656035502.998,
 1656035503.006,
 1656035503.014,
 1656035503.023,
 1656035503.031,
 1656035503.039,
 1656035503.047,
 1656035503.056,
 1656035503.064,
 1656035503.073,
 1656035503.081,
 1656035503.089,
 1656035503.097,
 1656035503.106,
 1656035503.114,
 1656035503.123,
 1656035503.131,
 1656035503.139,
 1656035503.148,
 1656035503.156,
 1656035503.164,
 1656035503.172,
 1656035503.181,
 1656035503.189,
 1656035503.198,
 1656035503.206,
 1656035503.214,
 1656035503.222,
 1656035503.231,
 1656035503.239,
 1656035503.248,
 1656035503.256,
 1656035503.264,
 1656035503.273,
 1656035503.281,
 1656035503.289,
 1656035503.297,
 1656035503.306,
 1656035503.314,
 1656035503.323,
 1656035503.331,
 1656035503.339,
 1656035503.347,
 1656035503.356,
 1656035503.364,
 1656035503.373,
 1656035503.381,
 1656035503.389,
 1656035503.398,
 1656035503.406,
 1656035503.414,
 1656035503.422,
 1656035503.431,
 1656035503.439,
 1656035503.448,
 1656035503.456,
 1656035503.464,
 1656035503.473,
 1656035503.481,
 1656035503.489,
 1656035503.498,
 1656035503.506,
 1656035503.514,
 1656035503.523,
 1656035503.531,
 1656035503.539,
 1656035503.547,
 1656035503.556,
 1656035503.564,
 1656035503.573,
 1656035503.581,
 1656035503.589,
 1656035503.598,
 1656035503.606,
 1656035503.614,
 1656035503.623,
 1656035503.631,
 1656035503.639,
 1656035503.648,
 1656035503.656,
 1656035503.664,
 1656035503.672,
 1656035503.681,
 1656035503.689,
 1656035503.698,
 1656035503.706,
 1656035503.714,
 1656035503.723,
 1656035503.731,
 1656035503.739,
 1656035503.748,
 1656035503.756,
 1656035503.764,
 1656035503.773,
 1656035503.781,
 1656035503.789,
 1656035503.797,
 1656035503.806,
 1656035503.814,
 1656035503.823,
 1656035503.831,
 1656035503.839,
 1656035503.848,
 1656035503.856,
 1656035503.864,
 1656035503.873,
 1656035503.881,
 1656035503.889,
 1656035503.898,
 1656035503.906,
 1656035503.914,
 1656035503.922,
 1656035503.931,
 1656035503.939,
 1656035503.947,
 1656035503.956,
 1656035503.964,
 1656035503.973,
 1656035503.981,
 1656035503.989,
 1656035503.998,
 1656035504.006,
 1656035504.014,
 1656035504.023,
 1656035504.031,
 1656035504.039,
 1656035504.047,
 1656035504.056,
 1656035504.064,
 1656035504.072,
 1656035504.081,
 1656035504.089,
 1656035504.098,
 1656035504.106,
 1656035504.114,
 1656035504.123,
 1656035504.131,
 1656035504.139,
 1656035504.148,
 1656035504.156,
 1656035504.164,
 1656035504.172,
 1656035504.181,
 1656035504.189,
 1656035504.197,
 1656035504.206,
 1656035504.214,
 1656035504.223,
 1656035504.231,
 1656035504.239,
 1656035504.248,
 1656035504.256,
 1656035504.264,
 1656035504.273,
 1656035504.281,
 1656035504.289,
 1656035504.297,
 1656035504.306,
 1656035504.314,
 1656035504.322,
 1656035504.331,
 1656035504.339,
 1656035504.348,
 1656035504.356,
 1656035504.364,
 1656035504.373,
 1656035504.381,
 1656035504.389,
 1656035504.398,
 1656035504.406,
 1656035504.414,
 1656035504.422,
 1656035504.431,
 1656035504.439,
 1656035504.447,
 1656035504.456,
 1656035504.464,
 1656035504.473,
 1656035504.481,
 1656035504.489,
 1656035504.498,
 1656035504.506,
 1656035504.514,
 1656035504.523,
 1656035504.531,
 1656035504.539,
 1656035504.547,
 1656035504.556,
 1656035504.564,
 1656035504.572,
 1656035504.581,
 1656035504.589,
 1656035504.598,
 1656035504.606,
 1656035504.614,
 1656035504.623,
 1656035504.631,
 1656035504.639,
 1656035504.648,
 1656035504.656,
 1656035504.664,
 1656035504.672,
 1656035504.681,
 1656035504.689,
 1656035504.697,
 1656035504.706,
 1656035504.714,
 1656035504.723,
 1656035504.731,
 1656035504.739,
 1656035504.748,
 1656035504.756,
 1656035504.764,
 1656035504.773,
 1656035504.781,
 1656035504.789,
 1656035504.797,
 1656035504.806,
 1656035504.814,
 1656035504.822,
 1656035504.831,
 1656035504.839,
 1656035504.848,
 1656035504.856,
 1656035504.864,
 1656035504.873,
 1656035504.881,
 1656035504.889,
 1656035504.898,
 1656035504.906,
 1656035504.914,
 1656035504.922,
 1656035504.931,
 1656035504.939,
 1656035504.947,
 1656035504.956,
 1656035504.964,
 1656035504.973,
 1656035504.981,
 1656035504.989,
 1656035504.998,
 1656035505.006,
 1656035505.014,
 1656035505.023,
 1656035505.031,
 1656035505.039,
 1656035505.047,
 1656035505.056,
 1656035505.064,
 1656035505.072,
 1656035505.081,
 1656035505.089,
 1656035505.098,
 1656035505.106,
 1656035505.114,
 1656035505.123,
 1656035505.131,
 1656035505.139,
 1656035505.148,
 1656035505.156,
 1656035505.164,
 1656035505.172,
 1656035505.181,
 1656035505.189,
 1656035505.197,
 1656035505.206,
 1656035505.214,
 1656035505.223,
 1656035505.231,
 1656035505.239,
 1656035505.248,
 1656035505.256,
 1656035505.264,
 1656035505.273,
 1656035505.281,
 1656035505.289,
 1656035505.297,
 1656035505.306,
 1656035505.314,
 1656035505.322,
 1656035505.331,
 1656035505.339,
 1656035505.348,
 1656035505.356,
 1656035505.364,
 1656035505.373,
 1656035505.381,
 1656035505.389,
 1656035505.398,
 1656035505.406,
 1656035505.414,
 1656035505.422,
 1656035505.431,
 1656035505.439,
 1656035505.447,
 1656035505.456,
 1656035505.464,
 1656035505.473,
 1656035505.481,
 1656035505.489,
 1656035505.498,
 1656035505.506,
 1656035505.514,
 1656035505.523,
 1656035505.531,
 1656035505.539,
 1656035505.547,
 1656035505.556,
 1656035505.564,
 1656035505.572,
 1656035505.581,
 1656035505.589,
 1656035505.598,
 1656035505.606,
 1656035505.614,
 1656035505.623,
 1656035505.631,
 1656035505.639,
 1656035505.648,
 1656035505.656,
 1656035505.664,
 1656035505.672,
 1656035505.681,
 1656035505.689,
 1656035505.697,
 1656035505.706,
 1656035505.714,
 1656035505.723,
 1656035505.731,
 1656035505.739,
 1656035505.748,
 1656035505.756,
 1656035505.764,
 1656035505.773,
 1656035505.781,
 1656035505.789,
 1656035505.797,
 1656035505.806,
 1656035505.814,
 1656035505.822,
 1656035505.831,
 1656035505.839,
 1656035505.848,
 1656035505.856,
 1656035505.864,
 1656035505.873,
 1656035505.881,
 1656035505.889,
 1656035505.898,
 1656035505.906,
 1656035505.914,
 1656035505.923,
 1656035505.931,
 1656035505.939,
 1656035505.947,
 1656035505.956,
 1656035505.964,
 1656035505.973,
 1656035505.981,
 1656035505.989,
 1656035505.997,
 1656035506.006,
 1656035506.014,
 1656035506.023,
 1656035506.031,
 1656035506.039,
 1656035506.048,
 1656035506.056,
 1656035506.064,
 1656035506.072,
 1656035506.081,
 1656035506.089,
 1656035506.098,
 1656035506.106,
 1656035506.114,
 1656035506.122,
 1656035506.131,
 1656035506.139,
 1656035506.148,
 1656035506.156,
 1656035506.164,
 1656035506.173,
 1656035506.181,
 1656035506.189,
 1656035506.197,
 1656035506.206,
 1656035506.214,
 1656035506.223,
 1656035506.231,
 1656035506.239,
 1656035506.247,
 1656035506.256,
 1656035506.264,
 1656035506.273,
 1656035506.281,
 1656035506.289,
 1656035506.298,
 1656035506.306,
 1656035506.314,
 1656035506.322,
 1656035506.331,
 1656035506.339,
 1656035506.348,
 1656035506.356,
 1656035506.364,
 1656035506.372,
 1656035506.381,
 1656035506.389,
 1656035506.398,
 1656035506.406,
 1656035506.414,
 1656035506.423,
 1656035506.431,
 1656035506.439,
 1656035506.447,
 1656035506.456,
 1656035506.464,
 1656035506.473,
 1656035506.481,
 1656035506.489,
 1656035506.497,
 1656035506.506,
 1656035506.514,
 1656035506.523,
 1656035506.531,
 1656035506.539,
 1656035506.548,
 1656035506.556,
 1656035506.564,
 1656035506.572,
 1656035506.581,
 1656035506.589,
 1656035506.598,
 1656035506.606,
 1656035506.614,
 1656035506.622,
 1656035506.631,
 1656035506.639,
 1656035506.648,
 1656035506.656,
 1656035506.664,
 1656035506.673,
 1656035506.681,
 1656035506.689,
 1656035506.697,
 1656035506.706,
 1656035506.714,
 1656035506.723,
 1656035506.731,
 1656035506.739,
 1656035506.747,
 1656035506.756,
 1656035506.764,
 1656035506.773,
 1656035506.781,
 1656035506.789,
 1656035506.798,
 1656035506.806,
 1656035506.814,
 1656035506.822,
 1656035506.831,
 1656035506.839,
 1656035506.848,
 1656035506.856,
 1656035506.864,
 1656035506.872,
 1656035506.881,
 1656035506.889,
 1656035506.898,
 1656035506.906,
 1656035506.914,
 1656035506.923,
 1656035506.931,
 1656035506.939,
 1656035506.947,
 1656035506.956,
 1656035506.964,
 1656035506.973,
 1656035506.981,
 1656035506.989,
 1656035506.997,
 1656035507.006,
 1656035507.014,
 1656035507.023,
 1656035507.031,
 1656035507.039,
 1656035507.048,
 1656035507.056,
 1656035507.064,
 1656035507.072,
 1656035507.081,
 1656035507.089,
 1656035507.098,
 1656035507.106,
 1656035507.114,
 1656035507.122,
 1656035507.131,
 1656035507.139,
 1656035507.148,
 1656035507.156,
 1656035507.164,
 1656035507.173,
 1656035507.181,
 1656035507.189,
 1656035507.197,
 1656035507.206,
 1656035507.214,
 1656035507.223,
 1656035507.231,
 1656035507.239,
 1656035507.247,
 1656035507.256,
 1656035507.264,
 1656035507.273,
 1656035507.281,
 1656035507.289,
 1656035507.298,
 1656035507.306,
 1656035507.314,
 1656035507.322,
 1656035507.331,
 1656035507.339,
 1656035507.348,
 1656035507.356,
 1656035507.364,
 1656035507.372,
 1656035507.381,
 1656035507.389,
 1656035507.398,
 1656035507.406,
 1656035507.414,
 1656035507.423,
 1656035507.431,
 1656035507.439,
 1656035507.447,
 1656035507.456,
 1656035507.464,
 1656035507.473,
 1656035507.481,
 1656035507.489,
 1656035507.497,
 1656035507.506,
 1656035507.514,
 1656035507.523,
 1656035507.531,
 1656035507.539,
 1656035507.548,
 1656035507.556,
 1656035507.564,
 1656035507.572,
 1656035507.581,
 1656035507.589,
 1656035507.598,
 1656035507.606,
 1656035507.614,
 1656035507.622,
 1656035507.631,
 1656035507.639,
 1656035507.648,
 1656035507.656,
 1656035507.664,
 1656035507.673,
 1656035507.681,
 1656035507.689,
 1656035507.697,
 1656035507.706,
 1656035507.714,
 1656035507.723,
 1656035507.731,
 1656035507.739,
 1656035507.747,
 1656035507.756,
 1656035507.764,
 1656035507.773,
 1656035507.781,
 1656035507.789,
 1656035507.798,
 1656035507.806,
 1656035507.814,
 1656035507.822,
 1656035507.831,
 1656035507.839,
 1656035507.848,
 1656035507.856,
 1656035507.864,
 1656035507.872,
 1656035507.881,
 1656035507.889,
 1656035507.898,
 1656035507.906,
 1656035507.914,
 1656035507.923,
 1656035507.931,
 1656035507.939,
 1656035507.947,
 1656035507.956,
 1656035507.964,
 1656035507.973,
 1656035507.981,
 1656035507.989,
 1656035507.997,
 1656035508.006,
 1656035508.014,
 1656035508.023,
 1656035508.031,
 1656035508.039,
 1656035508.048,
 1656035508.056,
 1656035508.064,
 1656035508.072,
 1656035508.081,
 1656035508.089,
 1656035508.098,
 1656035508.106,
 1656035508.114,
 1656035508.122,
 1656035508.131,
 1656035508.139,
 1656035508.148,
 1656035508.156,
 1656035508.164,
 1656035508.173,
 1656035508.181,
 1656035508.189,
 1656035508.197,
 1656035508.206,
 1656035508.214,
 1656035508.223,
 1656035508.231,
 1656035508.239,
 1656035508.247,
 1656035508.256,
 1656035508.264,
 1656035508.273,
 1656035508.281,
 1656035508.289,
 1656035508.298,
 1656035508.306,
 1656035508.314,
 1656035508.322,
 1656035508.331,
 1656035508.339,
 1656035508.348,
 1656035508.356,
 1656035508.364,
 1656035508.372,
 1656035508.381,
 1656035508.389,
 1656035508.398,
 1656035508.406,
 1656035508.414,
 1656035508.423,
 1656035508.431,
 1656035508.439,
 1656035508.447,
 1656035508.456,
 1656035508.464,
 1656035508.473,
 1656035508.481,
 1656035508.489,
 1656035508.497,
 1656035508.506,
 1656035508.514,
 1656035508.523,
 1656035508.531,
 1656035508.539,
 1656035508.548,
 1656035508.556,
 1656035508.564,
 1656035508.572,
 1656035508.581,
 1656035508.589,
 1656035508.598,
 1656035508.606,
 1656035508.614,
 1656035508.622,
 1656035508.631,
 1656035508.639,
 1656035508.648,
 1656035508.656,
 1656035508.664,
 1656035508.673,
 1656035508.681,
 1656035508.689,
 1656035508.697,
 1656035508.706,
 1656035508.714,
 1656035508.723,
 1656035508.731,
 1656035508.739,
 1656035508.747,
 1656035508.756,
 1656035508.764,
 1656035508.773,
 1656035508.781,
 1656035508.789,
 1656035508.798,
 1656035508.806,
 1656035508.814,
 1656035508.822,
 1656035508.831,
 1656035508.839,
 1656035508.848,
 1656035508.856,
 1656035508.864,
 1656035508.872,
 1656035508.881,
 1656035508.889,
 1656035508.898,
 1656035508.906,
 1656035508.914,
 1656035508.923,
 1656035508.931,
 1656035508.939,
 1656035508.947,
 1656035508.956,
 1656035508.964,
 1656035508.973,
 1656035508.981,
 1656035508.989,
 1656035508.997,
 1656035509.006,
 1656035509.014,
 1656035509.023,
 1656035509.031,
 1656035509.039,
 1656035509.048,
 1656035509.056,
 1656035509.064,
 1656035509.072,
 1656035509.081,
 1656035509.089,
 1656035509.098,
 1656035509.106,
 1656035509.114,
 1656035509.122,
 1656035509.131,
 1656035509.139,
 1656035509.148,
 1656035509.156,
 1656035509.164,
 1656035509.173,
 1656035509.181,
 1656035509.189,
 1656035509.197,
 1656035509.206,
 1656035509.214,
 1656035509.223,
 1656035509.231,
 1656035509.239,
 1656035509.247,
 1656035509.256,
 1656035509.264,
 1656035509.273,
 1656035509.281,
 1656035509.289,
 1656035509.298,
 1656035509.306,
 1656035509.314,
 1656035509.322,
 1656035509.331,
 1656035509.339,
 1656035509.348,
 1656035509.356,
 1656035509.364,
 1656035509.372,
 1656035509.381,
 1656035509.389,
 1656035509.398,
 1656035509.406,
 1656035509.414,
 1656035509.423,
 1656035509.431,
 1656035509.439,
 1656035509.447,
 1656035509.456,
 1656035509.464,
 1656035509.473,
 1656035509.481,
 1656035509.489,
 1656035509.497,
 1656035509.506,
 1656035509.514,
 1656035509.523,
 1656035509.531,
 1656035509.539,
 1656035509.548,
 1656035509.556,
 1656035509.564,
 1656035509.572,
 1656035509.581,
 1656035509.589,
 1656035509.598,
 1656035509.606,
 1656035509.614,
 1656035509.622,
 1656035509.631,
 1656035509.639,
 1656035509.648,
 1656035509.656,
 1656035509.664,
 1656035509.673,
 1656035509.681,
 1656035509.689,
 1656035509.697,
 1656035509.706,
 1656035509.714,
 1656035509.723,
 1656035509.731,
 1656035509.739,
 1656035509.747,
 1656035509.756,
 1656035509.764,
 1656035509.773,
 1656035509.781,
 1656035509.789,
 1656035509.798,
 1656035509.806,
 1656035509.814,
 1656035509.822,
 1656035509.831,
 1656035509.839,
 1656035509.848,
 1656035509.856,
 1656035509.864,
 1656035509.872,
 1656035509.881,
 1656035509.889,
 1656035509.898,
 1656035509.906,
 1656035509.914,
 1656035509.923,
 1656035509.931,
 1656035509.939,
 1656035509.948,
 1656035509.956,
 1656035509.964,
 1656035509.972,
 1656035509.981,
 1656035509.989,
 1656035509.997,
 1656035510.006,
 1656035510.014,
 1656035510.023,
 1656035510.031,
 1656035510.039,
 1656035510.048,
 1656035510.056,
 1656035510.064,
 1656035510.073,
 1656035510.081,
 1656035510.089,
 1656035510.097,
 1656035510.106,
 1656035510.114,
 1656035510.122,
 1656035510.131,
 1656035510.139,
 1656035510.148,
 1656035510.156,
 1656035510.164,
 1656035510.173,
 1656035510.181,
 1656035510.189,
 1656035510.198,
 1656035510.206,
 1656035510.214,
 1656035510.222,
 ...]

In [195]:
# Rename columns
nb_rigid_bodies = int((df_no_head.shape[1] - 1) / 7)
nb_rigid_bodies

1

In [215]:
list_of_columns_name = ['Epoch']
for i in range(1, nb_rigid_bodies+1):
    list_of_columns_name.append('x'+str(i))
    list_of_columns_name.append('y'+str(i))
    list_of_columns_name.append('z'+str(i))
    list_of_columns_name.append('qx'+str(i))
    list_of_columns_name.append('qy'+str(i))
    list_of_columns_name.append('qz'+str(i))
    list_of_columns_name.append('qw'+str(i))
df_no_head.columns = list_of_columns_name
df_no_head

,Epoch,x1,y1,z1,qx1,qy1,qz1,qw1
0,1.656036e+09,-0.008226,-0.756919,-0.007126,0.653418,328.321442,772.273315,1341.981201
1,1.656036e+09,-0.008148,-0.757648,-0.006870,0.652577,328.429077,772.264099,1342.083008
2,1.656036e+09,-0.008196,-0.757979,-0.006452,0.652196,328.409454,772.293030,1342.121094
3,1.656036e+09,-0.008245,-0.757995,-0.006417,0.652177,328.400146,772.299744,1342.135498
4,1.656036e+09,-0.008034,-0.757934,-0.006245,0.652252,328.470001,772.287598,1342.122070
...,...,...,...,...,...,...,...,...
3864,1.656036e+09,-0.000397,0.142106,0.003007,0.989847,278.075897,772.766052,1328.564209
3865,1.656036e+09,-0.000415,0.142187,0.002983,0.989835,278.054932,772.765137,1328.546997
3866,1.656036e+09,-0.000398,0.142150,0.003020,0.989840,278.060181,772.766663,1328.545044
3867,1.656036e+09,-0.000457,0.142171,0.003046,0.989837,278.062592,772.766113,1328.544800
3868,1.656036e+09,-0.000431,0.142108,0.003111,0.989846,278.079742,772.773193,1328.560059